@import '@gravity-ui/uikit/styles/styles.css';
/*@import '@gravity-ui/page-constructor/styles/styles.css';*/
@import './theme.css';


html, body {
    min-height: 100vh;
    paddin: 0;
    margin: 0;
    background: var(--g-color-base-background);
}

.g-root {
    --pc-first-block-indent: 0px;
}

.pc-content-wrapper__icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}